<%= render 'share/header' %>
  <div class="container">
    <h1 class = "mypage_name">いいね一覧</h1>
    <div class = "mynav">
      <ul id="nav">
      <li><a href="#"><%= link_to '質問・回答履歴', root_path %></a></li>
      <li><a href="#"><%= link_to '投稿一覧', root_path %></a></li>
      <li><a href="#"><%= link_to 'お友達', root_path %></a></li>
      <li><a href="#"><%= link_to 'お気に入り', customer_favorites_path(@customer.id) %></a></li>
      <li><a href="#"><%= link_to '退会手続き', exit_customer_path(@customer.id) %></a></li>
      </ul>
    </div>
  </div></br>
  <div class = "container">
		<div class = "col-xs-9" style= "background-color:white;">
			<table class = "table table-striped">
				<tr>
					<th>商品名</th>
					<th>価格</th>
					<th>販売状況</th>
					<th></th>
				</tr>
				<% @favorites.each do |favorite| %>
					<tr>
						<td><%= link_to favorite.post.name, post_path(favorite.post.id) %>
						<!-- <td><%= favorite.product.price %></td> -->
						<!-- <td><%= favorite.product.status %></td> -->
						<td><%= render "favorites/favorite", product: favorite.post %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

