  <div class="container">
    <h1 class = "mypage_name">質問履歴</h1>
    <div class = "mynav">
      <ul id="nav">
      <li><a href="#"><%= link_to '質問履歴', questions_customer_path %></a></li>
      <li><a href="#"><%= link_to '投稿一覧', posts_customer_path %></a></li>
      <li><a href="#"><%= link_to 'お友達', root_path %></a></li>
      <li><a href="#"><%= link_to 'お気に入り', root_path %></a></li>
      <li><a href="#"><%= link_to '退会手続き', exit_customer_path %></a></li>
      </ul>
    </div>
  </div></br>

<div class="container">
  <h3 class="top_inner"></h3>
  <div class="row">
    <% @customer.questions.each do |question| %>
       <div class="col-md-3">
         <div class="card1" style="width: 18rem;">
           <div class="card-body">
             <h5 class="card-title"><%= truncate(question.title, length: 17) %></h5>
             <p class="card-text ellipsis"><%= question.body %></p>
             <li1><%= truncate(question.categorie.name, length: 15) %></li1></br>
             <%= link_to question_path(question.id) do %>
                 <button2 class="b_size btn-design">詳細を見る</button2>
             <% end %>
           </div>
         </div>
       </div>
     <% end %>
   </div>
</div>