<%= render 'share/header' %>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<div class="bg">
	  <%= image_tag 'sea.jpg', class: 'bg'%>
	  <p class='bg-text1'>沖縄の絶景に恋をして</P>
	  <p class='bg-text2'>誰も知らない、あなただけの</p>
	  <p class="bg-text3">南国・沖縄を"最高"に楽しもう！</p>
	</div>

<div class="container">
        <h3 class="title index_inner">新着投稿
      		<a class="btn btn-outline-info list4 far fa-plus-square"  href="posts/new">新規作成</a>
  			</h3>
        <div class="row">
        	 <% @posts.each do |post| %>
              <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
                	<div class="img-size">
              <%= attachment_image_tag post, :image, :fill, 285, 200, format: 'jpeg' %></div>
                  <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text ellipsis"><%= post.body %></p>
                    <li1><%= truncate(post.categorie.name, length: 15) %></li1>
                    <%= link_to post_path(post.id) do %>
                        <button2 class="b_size btn-design">詳細を見る</button2>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="page">
           <%= paginate @posts, class: "paginate" %>
          </div>

<div class="container">
    	<div class="row">
        <h3 class="title index_inner">新着質問
        <a class="btn btn-outline-info list4 far fa-plus-square"  href="questions/new">新規作成</a>
				</h3>
      </div>
        <div class="row">
        	<% @questions.each do |question| %>
              <div class="col-md-3">
                <div class="card1" style="width: 18rem;">
								  <div class="card-body">
								    <h5 class="card-title"><%= question.title %></h5>
								    <p class="card-text"><%= truncate(question.body, length: 15) %></p>
								     <li1><%= question.categorie.name %></li1>
                        <button2 class="b_size btn-design">詳細を見る</button2>
								  </div>
								</div>
               </div>
              <% end %>
   </div>
 </div>