<!-- 投稿作成ページ -->
<%= render 'share/header' %>
<div class="container Question">
  <div class="row">
    <div class="Question-title col-md-12">投稿作成フォーム</div>
  </div>

  <div class="row">
  <div class="Question-box col-md-12">
    <%= form_for [@post] do |t| %>
      <div class="row Question-box-contents">
        <div class="col-md-4">タイトル</div>
        <div class="col-md-6"><%= t.text_field :title %></div>
      </div>
      <div class="Question-box-contents row">
        <div class="col-md-4">質問内容</div>
        <div class="col-md-6"><%= t.text_field :body %></div>
      </div>
      <div class="Question-box-contents row">
        <div class="col-md-4">カテゴリー</div>
        <div class="col-md-6"><%= t.collection_select :categorie_id, Categorie.all, :id, :name, :prompt => "選択して下さい" %></div>
      </div>
      <div class="Question-box-contents row">
        <div class="col-md-4"><%= t.label :'写真', class: 'label-position' %></div>
        <div class="col-md-6"><%= t.attachment_field :image %></div>
       </div>
        <div class="Question-box-contents row">
          <div class="button col-md-12"><%= t.submit '送信する' %></div>
        </div>
    <% end %>


          </div>
        </div>
      </div>